{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Django App
      {% endblock %}
    </title>  
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    
  </head>
  <body>
    <nav class="navbar">
      <a class="navbar-brand" href="#">Student Alumni Data</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item {% if request.path == '/' %}active{% endif %}">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item {% if request.path == '/students/' %}active{% endif %}">
            <a class="nav-link" href="/students/">students</a>
          </li>
          <li class="nav-item {% if request.path == '/students/add/' %}active{% endif %}">
            <a class="nav-link" href="/students/add/">Add Students</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">{% block content %} {% endblock %}</div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const toggler = document.querySelector('.navbar-toggler');
        const menu = document.getElementById('navbarNav');

        toggler.addEventListener('click', function () {
          menu.classList.toggle('show');
        });
      });
    </script>

  </body>
</html>
